@font-face {
    font-family: 'Moderat';
    src: url('../fonts/Moderat/Moderat-Regular.ttf');
}
@font-face {
    font-family: 'Moderat-medium';
    src: url('../fonts/Moderat/Moderat-Medium.ttf');
}
@font-face {
    font-family: 'Moderat-bold';
    src: url('../fonts/Moderat/Moderat-Bold.ttf');
}
@font-face {
    font-family: 'Moderat-light';
    src: url('../fonts/Moderat/Moderat-Light.ttf');
}
@font-face {
    font-family: 'Moderat-light';
    src: url('../fonts/Moderat/Moderat-Light.ttf');
}
